<div class="form-wrapper">
    <div class="login-heart">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required autocomplete="off">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required autocomplete="off">
        <div class="btn-wrapper-login">
            <input type="submit" value="Login">
            <input type="button" value="Register">
        </div>
    </div>
</div>