@media screen and (min-width: 320px) {
    .library-header {
        height: 230px;
        padding-top: 60px;
        margin-bottom: 20px;

        background-image: url('../partials/assets/library-header-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .library-header__logo {
            width: 20px;
            height: 20px;
            stroke: #818181
        }

        .library-header__logo-text {
            display: none;
        }

        .library-header__navigation {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            margin-bottom: 40px;

            .library-header__menu {
                display: flex;
                align-items: baseline;
                justify-content: center;

                line-height: normal;
                text-transform: uppercase;
                color: #FFFFFF;

                .library-header__menu-item:not(:last-child) {
                    margin-right: 40px;
                }
            }
        }

    }

}

@media screen and (min-width: 768px) {

    .library-header {
        margin-bottom: 60px;

        background-image: url('../partials/assets/library-header-tablet.jpg');

        .library-header__logo-text {
            display: inline-block;
            margin-left: 10px;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: #FFFFFF;
        }

    }

}

@media screen and (min-width: 1024px) {
    .library-header {
        background-image: url('../partials/assets/library-header-desktop.jpg');

    }
}