@media screen and (min-width: 320px) {
    .page-header {
        height: 230px;
        padding-top: 60px;
        margin-bottom: 20px;

        background-image: url('../partials/assets/header-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .page-header__logo {
            width: 20px;
            height: 20px;
            stroke: #818181
        }

        .page-header__logo-text {
            display: none;
        }

        .page-header__navigation {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            margin-bottom: 40px;

            .page-header__menu {
                display: flex;
                align-items: baseline;
                justify-content: center;

                line-height: normal;
                text-transform: uppercase;
                color: #FFFFFF;

                .page-header__menu-item:not(:last-child) {
                    margin-right: 40px;
                }
            }
        }

        .film-search {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .film-search__label {
                position: relative;
                display: inline;
                width: 100%;
                max-width: 336px;
                margin-bottom: 22px;

                .film-search__input {
                    width: 100%;
                    max-width: 336px;

                    font-size: 14px;
                    color: #FFFFFF;
                    background-color: transparent;
                    border: none;
                    outline: transparent;
                    border-bottom: 1px solid #FFFFFF;

                    &::placeholder {
                        color: #FFFFFF;
                    }

                }

                .film-search__lens {
                    position: absolute;
                    top: 0;
                    right: 0;

                    width: 12px;
                    height: 12px;
                }
            }



            .film-search__error {
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                line-height: normal;

                color: $error-color;
            }
        }

        // .header-buttons-wrapper {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;

        //     button {
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;

        //         padding: 5px;
        //         border: 1px solid;
        //         border-radius: 5px;
        //         width: 136px;
        //         height: 44px;
        //         font-size: 12px;
        //         color: #fff;
        //         text-transform: uppercase;
        //     }

        //     .btn-watched {
        //         border-color: transparent;
        //         background-color: $accent-color;
        //         margin-right: 14px;
        //     }

        //     .btn-queue {
        //         border-color: #fff;
        //         background-color: transparent;
        //     }
        // }


    }

    .header-library {
        background-image: url('../partials/assets/library-header-mobile.jpg');
    }

}

@media screen and (min-width: 768px) {

    .page-header {
        margin-bottom: 60px;

        background-image: url('../partials/assets/header-tablet.jpg');

        .page-header__logo-text {
            display: inline-block;
            margin-left: 10px;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: #FFFFFF;
        }

        .film-search {

            .film-search__error {
                text-align: center;
            }
        }
    }

    .header-library {
        background-image: url('../partials/assets/library-header-tablet.jpg');
    }

}

@media screen and (min-width: 1024px) {
    .page-header {
        background-image: url('../partials/assets/header-desktop.jpg');

        .page-header__logo-text:hover {
            color: $accent-color;
        }

        // .header-buttons-wrapper {

        //     .btn-watched {
        //         transition: $transition-for-all;

        //         &:hover {
        //             background-color: transparent;
        //             border-color: #fff;
        //             transition: $transition-for-all;
        //         }
        //     }

        //     .btn-queue {
        //         transition: $transition-for-all;

        //         &:hover {
        //             border-color: transparent;
        //             background-color: $accent-color;
        //             transition: $transition-for-all;
        //         }
        //     }
        // }

    }

    .header-library {
        background-image: url('../partials/assets/library-header-desktop.jpg');
    }
}