.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    .form-wrapper {
        .login-heart {
            width: 100%;
            max-width: 350px;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: 600;
                font-size: inherit;
            }

            input[type="email"],
            input[type="password"] {
                display: block;
                margin-bottom: 20px;
                width: 100%;


                font-size: inherit;
            }

            input[type="submit"],
            input[type="button"] {
                width: 110px;
                height: 44px;
                border-radius: 5px;

                font-size: inherit;
                text-transform: uppercase;
                cursor: pointer;
            }

            input[type="button"] {
                background-color: #fff;
            }

            input[type="submit"] {
                margin-right: 15px;
                border: 1px solid transparent;
                background-color: $accent-color;
                color: #fff;
            }

            .btn-wrapper-login {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .form-wrapper {
        height: 375px;

        .login-heart {
            max-width: 400px;

            input[type="email"],
            input[type="password"] {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {}