<footer class="page-footer">
    <p class="page-footer__text page-footer__text--margin-bottom">&copy; | All Rights Reserved |</p>
    <div class="heart_text_wrapper">
        <p class="page-footer__text page-footer__text--margin-left">Developed with</p>
        <div class="heart_wrapper"><svg class="page-footer__hart">
                <use href="./assets/sprite.svg#hart"></use>
            </svg></div>
        <a class="page-footer__text page-footer__link"
            href="https://www.linkedin.com/in/volodymyr-riabushko-078652221/">by Vlad
            Riabushko</a>
    </div>
</footer>