<header class="library-header">
    <div class="container">
        <nav class="library-header__navigation">
            <div class="logo-wrapper">
                <svg class="library-header__logo">
                    <use href="./assets/sprite.svg#logo"></use>
                </svg>
                <p class="library-header__logo-text">Filmoteka</p>
            </div>
            <ul class="library-header__menu">
                <li class="library-header__menu-item">
                    <a href="/index.html">home</a>
                </li>
                <li class="library-header__menu-item active-menu">
                    <a href="/library.html">library</a>
                </li>
            </ul>
        </nav>
        <div>
            <button class="btn-watched">Watched</button>
            <button class="btn-queue">Queue</button>
        </div>
    </div>
</header>