<header class="page-header">
    <nav class="page-headeer__navigation">
        <svg class="page-header__logo">
            <use src="./assets/sprite.svg#logo"></use>
        </svg>
        <ul class="page-header__menu">
            <li>home</li>
            <li>library</li>
        </ul>
    </nav>
    <label for="filmSearch"></label>
    <input type="search" name="filmSearch" id="filmSearch">
    <svg class="page-header__search-sign">
        <use src="./assets/sprite.svg#search"></use>
    </svg>
    </label>

    <p>Search result not successful. Enter the correct movie name.</p>



</header>