<header class="page-header">
    <div class="container">
        <nav class="page-header__navigation">
            <svg class="page-header__logo">
                <use href="./assets/sprite.svg#logo"></use>
            </svg>
            <p class="page-header__logo-text">Filmoteka</p>
            <ul class="page-header__menu">
                <li>home</li>
                <li>library</li>
            </ul>
        </nav>
        <label for="filmSearch"></label>
        <input type="search" name="filmSearch" id="filmSearch">
        <svg class="page-header__search-sign">
            <use href="./assets/sprite.svg#search"></use>
        </svg>
        </label>

        <p>Search result not successful. Enter the correct movie name.</p>
    </div>
</header>