<section class="selected-films">
    <h2 class="visually-hidden">Selected films</h2>
    <div class="container">
        <div class="selected-films-grid">
        </div>
        <div id="tui-pagination-container" class="tui-pagination"></div>
    </div>
</section>
<div class="backdrop visually-hidden">
    <div class="modal">
        <svg class="modal__close-button">
            <use href="./assets/sprite.svg#close"></use>
        </svg>
        <form action="#" class="movie-card">
        </form>
    </div>
</div>